@font-face {
    font-family: nb;
    src: url(fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: juice;
    src: url(fonts/Rejouice-Headline.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:nb;
   
}
html, body {
    height: 100%;
    width: 100%;
}
#page-1{
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color:#FF5F38 ;
    border-radius: 50%;
    color: black;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50% ,-50%);
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
#page-1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page-1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    width: 100%;

}
nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
}
#page-1-content h1 {
    font-family: juice;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
    letter-spacing: -3vw;
    
}
#page-1-content h1 span {
    font-family: juice;
    display: inline-block;
}

#page-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    margin-bottom: 2vw;
}
#page-3 {
    min-height:100vh ;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page-3-top{
    text-align: center;
}
#page-3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
#page-3-top h4 span {
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
   
}
#page-3-top h2 {
    font-size: 4vw;
    font-weight: 500;
}
#page-3-elements {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0vw ;
 
}
#page-3-elements .card {
    height: 100%;
    width: 32.5%;
    position: relative;
}
#page-3-elements .card video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page-3-elements .card img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-in .5s;

}
#page-3-elements .card:hover img {
    opacity: 0;
}
#page-5 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-5 video {
    height: 100%;
    scale: 1.5;
}
#page-5 svg{
    position: absolute;
    height: 80%;
}
#page-5-content {
    position: absolute;
    text-align: center;
    font-size: 1.8vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    font-weight: 100;
}
#takeit {
    font-size: 1.8vw;
    padding: 20px 2px;
    border:none ;
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}
#uppercontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    height: 100%;
    width: 100%;
    margin-top: 10vw;
    font-size: 2vw;
    font-weight: 100;
}
#row-1{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    font-size: 1.6vw;
}
#line{
    width: 100%;
    border:solid rgb(0, 0, 0) 1px;
    margin-top: 1.2vw;
}
#row-2{
    width: 100%;
    height: 80%;
    font-size: 4.5vw;
    text-align: start;
    padding-top:2vw ;
}
#page-4 ,
#page-6 {
    height: 100vh;
    width: 100%;
    padding: 3vw;
    display: flex;
    flex-direction: column;

}
#page-7{
    height: 25vh;
    width: 100%;
    padding: 3vw 0;
    position: relative;
}
#page-7 h1 {
    font-size: 10vw;
    font-family: juice;
    font-weight: 100;
    width: 95%;
    margin-left: 2%;
    border-bottom: 1px solid black;
}

 #contact {
    font-family: nb;
    height: 70vh;
    width: 100%;
    padding: 5vw;
 }
 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .contact-left {
    flex-basis: 35%;
    font-size: 25px;
    
 }
 .contact-right {
    flex-basis: 60%;
    text-align: end;
 }
 .contact-left p {
    margin-top: 10px;
 }
 .submit-button{
    color: white;
    background-color: black;
    border: none;
    padding: 12px;
    border-radius: 18px;
    font-size: 1.5vw;
    cursor: pointer;
 }

 .contact-right form {
    width: 100%;
 }
 form input ,form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: black;
    color: white;
    padding: 15px;
    margin: 15px 0px;
    font-size: 15px;
    border-radius: 6px;
 }
#msg {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.6vw;
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 12px;
}
#loader h3 {
    font-size: 2vw;
    font-weight: 100;
}

#footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #000000;
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
}

@media (min-width:320px) and (max-width:480px) {
    #page-1{
        height: 45vh;
    }
    nav h3 {
        font-size: 4vw;
    }
    nav h4 {
        font-size: 2.5vw;
    }
    #row-1{
        align-items: center;
        font-size: 3.5vw;
        height: 10%;
        padding: 25px 0px;
    }
    #row-2{
        padding: 4vh 0vh;
    }
    #page-2{
        height: 70%;
    }
    #page-3-top h4 {
        font-size: 3vw;
    }
    #page-3-top h2 {
        font-size: 6vw;
    }
    #page-3-top h4 span {
        font-size: 2.7vw;
    }
    #page-3 {
      height: 190vh;
    }
    #page-3-elements {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vw;
    }
    #uppercontent{
        font-size: 3.5vw;
        margin-top: 0;
        height: 6vh;
    }
    #page-3-elements .card {
        width:100% ;
    }
    #page-4{
        height: 35vh;
    }
    #page-5{
        height: 50vh;
    }
    #page-5 video{
        scale: 1;
    }
    #takeit{
        padding: 20px 30px;
        font-size: 4vw;
    }
    #page-5 svg {
        height: 65%;
    }
    #page-5-content{
        font-size: 3vw;
    }
    #page-6{
        height: 30vh;
    }
    #page-7 {
        height: 7vh;
    }
    #contact{
        height: 55vh;
    }
    #contact > .container > .row {
        flex-direction: column;
    }
    .contact-left{
        display: flex;
        font-size: 3vw;
        justify-content: space-between;
        width: 100%;
    }
    .submit-button {
        font-size: 3.5vw;
      
    }
    #msg{
        font-size: 3.5vw;
        margin-top: 10px;
    }
    #footer{
        height: 6vh;
    }
    #loader h3 {
        font-size: 5vw;
    }
}















